@use "../../Components/Elements/responsive.scss";
.discoverers-wrapper {
    .discoverer-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-around;
        gap: 20px;
        margin-top: 50px;
        margin-bottom: 100px;
        @include responsive.mob1240{
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include responsive.mob940{
            grid-template-columns: 1fr 1fr;
        }
        @include responsive.mob640{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
