@use "../../Components/Elements/responsive.scss";
.main-navigation {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 253, 253, 0.877);
  .logo-button {
    display: none;
    border: none;
    background-color: unset;;
    @include responsive.mob575 {
      display: block;
      margin: 10px 0;
      border-radius: 20px;
      transition: box-shadow 0.5s, color 0.3s;
    }
    &:hover {
      filter: brightness(50%);
      box-shadow: 5px 4px 7px 5px #000000ba;
      
      cursor: pointer;
    }
  }
  .logo {
    display: none;
    @include responsive.mob575 {
      display: block;
      width: 40px;
    }
  }
  .nav-list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 10px 20px;
    align-items: center;
    @include responsive.mob800 {
      justify-content: center;
    }
    @include responsive.mob575 {
      justify-content: flex-end;
    }
    .navigation-item {
      @include responsive.mob575 {
        display: none;
      }
      .navigation-link {
        padding: 5px 10px;
        text-decoration: none;
        color: black;
        border: 2px solid rgba(0, 0, 0, 0.589);
        font-weight: 600;
        border-radius: 20px;
        transition-property: color, box-shadow;
        transition-duration: 0.5s;
      }
      .navigation-link.active {
        color: rgb(31, 31, 107);
        box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.466);
      }
      .navigation-link:hover {
        box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.466);
      }
    }
  }
}
