@use "../../Components/Elements/responsive.scss";
.discoverer {
    padding: 20px;
    .discoverer-link {
        @include responsive.mob640 {
            display: block;
            text-align: center;
        }
    }
    .item {
        display: block;
    }
}
