.planets-wrapper{
    .planet-wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
        margin-top: 50px;
        margin-bottom: 100px;
    }
}