@use "./Components/Elements/responsive.scss";
body {
  background-color: #d7d6d8;
  &.home-page {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2f/Hubble_ultra_deep_field.jpg);
    background-size: cover;
  }
  .body {
    .home-page{
      background-color: rgba(255, 255, 255, 0.699);
    }
    .page-title {
      font-weight: 800;
      color: rgb(79, 98, 148);
      text-align: center;
      padding-bottom: 10px;
      border-bottom: 1px solid rgb(79, 98, 148);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.623);
    }
    .bold {
      font-weight: 700;
    }
    .small-img {
      height: 50px;
      width: 50px;
      object-fit: cover;
      border-radius: 25px;
    }
    .medium-img {
      height: 200px;
      width: 200px;
      object-fit: cover;
    }
    .deleteButton {
      position: absolute;
      border: 1px solid rgb(176, 176, 233);
      border-radius: 20px;
      top: -20px;
      right: -20px;
      background-color: rgba(172, 172, 228, 0.158);
      color: #4c66af;
      cursor: pointer;
      font-size: 18px;
      transition: color 0.3s;

      &:hover {
        color: #ff0000;
        background-color: rgba(172, 172, 228, 0.589);
      }
    }
    .create-link {
      color: black;
      font-weight: 700;
      font-size: 18px;
      text-decoration: none;
      margin-left: 100px;
      padding: 3px 20px;
      border-radius: 20px;
      box-shadow: inset 0 0 14px 0px black;
      transition-property: box-shadow, color;
      transition-duration: 0.5s;
      &:hover {
        color: rgb(73, 90, 146);
        box-shadow: inset 0 0 14px 0px black, 0 0 14px 0px black;
      }
      @include responsive.mob800 {
        margin-left: 0;
      }
    }
  }
}
